body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    min-width: 1280px;
    min-height: 1024px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    margin-top: 0;
    padding-top: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


/*index.jsp*/

#index-logo {
    width: 30%;
    height: 20%;
    margin-left: 35%;
}
#logo-wrapper {
    /*margin-left:25%;*/
    margin-bottom: 2%;
}

#logo-wrapper>h1 {
    position: static;
    text-align: center;
    /*margin-left: 25%;*/
}

#auth-wrapper {
    /*width:20%;*/
    margin: 0 auto;
    width: 300px;
    margin-bottom: 2%;
}

#auth-wrapper1 {
    /*width:20%;*/
    margin: 0 auto;
    width: 400px;
    margin-bottom: 2%;
}
#avatar-wrapper {
    margin-top: 5%;
    margin-left: -30%;
    width: 900px;
    text-align: center;
    float: left;
}

#avatar-wrapper>img{
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;

}
.avatar-selected {
    margin-top: 0px !important;
    display: inline-block;
    width: 70px !important;
    height: 70px !important;
    float: left;
    border: 5px solid #5cb85c;
    border-radius: 50%;
}

#auth-form{
    margin-left: 10%;
}

#login-invalid-alert,
#login-undef-alert,
#login-success-alert,
#login-already-exist-alert {
    margin: 0 auto;
    margin-top: 100px;
    width: 900px;
    text-align: center;
}

#auth-wrapper>a {
    float: left;
}


/*authentification.html*/


/*rooms*/

#sidebar {
    height: 100vh;
    width: 50px;
    background-color: #014682;
    color: white;
    float: left;
    position: fixed;
}

.sidebar-item {
    width: 50px;
    height: 50px;
    float: left;
}

.sidebar-item:hover {
    background-color: #5597d0;
}

.sidebar-item>i {
    margin-top: 6px;
    float: left;
    font-size: 30px;
    margin-left: 9px;
}

#logout-button-sb {
    position: absolute;
    bottom: 0px;
}

#left-side-panel {
    height: 100vh;
    width: 300px;
    background-color: green;
    margin-left: 50px;
    background-color: #5597d0;
    float: left;
}

#left-side-panel>h2 {
    margin: 0;
    padding: 0;
}

#rooms {
    position: absolute;
    width: 90vw;
    height: 90%;
    /*background-color: red;*/
    margin-top: 5vh;
    margin-left: 6vw;
}

#available-rooms {
    width: 44vw;
    height: 90vh;
    /*background-color: white;*/
    display: inline-block;
}

#unfinished-rooms {
    width: 44vw;
    height: 90vh;
    /*background-color: yellow;*/
    display: inline-block;
    margin-left: 1vw;
}

#available-rooms,
#unfinished-rooms {
    border: 1px solid #014682;
}

.rooms-list-header {
    width: inherit;
    height: 6vh;
    background-color: #014682;
}

.rooms-list-header>h3 {
    color: white;
    position: absolute;
    margin-top: 1vh;
    text-align: center;
    height: inherit;
    width: 44vw;
}

.rooms-list {
    width: inherit;
    height: 84vh;
}

.room-list-item {
    width: inherit;
    height: 10vh;
    border-bottom: 1px solid #5597d0;
}

.room-list-item>h4 {
    position: absolute;
    width: 38vw;
    /*left:16vw;*/
    text-align: center;
    font-weight: bold;
}

.rooms-param-wrapper {
    position: absolute;
}

ul.room-parameters {
    position: absolute;
    list-style-type: none;
    top: 5vh;
    left: 6vw;
    width: 33vw;
}

ul.room-parameters>li {
    display: block;
    float: left;
    margin-right: 2vw;
}

.join-to-room-bt {
    position: absolute;
    top: 2vh;
    left: 32.5vw;
}


/*room creation dialog*/

.room-creation-slider {
    width: 50vh;
}

#create-room-btn {
    width: 80vh;
    margin-right: 2vh;
}


/*game field*/

#game-parameters {
    margin-left: 55px;
    float: left;
    width: 33%;
    height: 100vh;
    z-index: 99;
}

#players-actions {
    float: right;
    width: 40%;
    height: 100vh;
    z-index: 99;
}

#players-actions>h3,
.player-info>h4 {
    text-align: center;
}

#players {
    width: 80%;
    height: 70%;
    margin-left: 15%;
}

.player {
    width: 100%;
    height: 24%;
    border: 1px solid black;
    margin-bottom: 1%;
    background-color: #d8dee4;
}

.active-player {
    border: 2px solid blue;
}

.player>img {
    width: 23%;
    height: 90%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    border-radius: 50%;
}

.player-info {
    float: right;
    width: 74%;
    height: 100%;
}

.player-parameters>.left-col {
    width: 45%;
    float: left;
    margin-left: 3%;
}

.player-parameters>.right-col {
    width: 45%;
    float: right;
    margin-right: 3%;
}

#actions {
    width: 95%;
    height: 20%;
    margin-bottom: 5%;
}

#time-outer,
#round-outer {
    width: 20%;
    height: 80%;
    float: left;
}

#time,
#round {
    width: 80%;
    height: 80%;
    background-color: #5597d0;
    float: left;
    border-radius: 50%;
    margin-left: 10%;
    border: 2px solid black;
}

#time>div,
#round>div {
    text-align: center;
    font-size: 24pt;
    margin-top: 23%;
}

#round-outer>h4,
#time-outer>h4 {
    text-align: center;
}

#end-round-btn {
    margin-left: 5%;
    margin-top: 8%;
    width: 50%;
    height: 50%;
    background-color: #014682;
    color: white;
}

#end-round-btn:hover,
.res-btn:hover {
    background-color: #5597d0;
}
#bank{
    background-color: rgba(3, 130, 237, 0.48) !important;
}
#bank,
#egp,
#esm {
    width: 100%;
    height: 25%;
    background-color: #d8dee4;
    margin-top: 1%;
    float: left;
    border: 1px solid black;
}

#resources-outer {
    width: 100%;
    height: 25%;
    float: left;
}

#bank>img {
    margin-top: 2%;
    margin-left: 1%;
    width: 30%;
    height: 80%;
    float: left;
}

#bank-parameters {
    width: 69%;
    height: 100%;
    float: left;
}

#bank-parameters>h3,
#egp>h3,
#esm>h3 {
    margin-top: 1%;
    text-align: center;
}

.heade {
    float: left;
    width: 25%;
    margin-left: 1%;
}

#egp-count-slider,
#egp-cost-slider,
#esm-count-slider,
#esm-cost-slider {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

.egp-form>div {
    float: left;
    margin-top: 10px;
    width: 100%;
}

.res-btn {
    background-color: #014682;
    width: 40% !important;
    margin-left: 1%;
    float: left;
}

.buttons-group {
    margin-left: 9%;
    color: white;
}

#numeric-resources {
    margin-left: 6%;
    margin-top: 2%;
    width: 100%;
}

#numeric-resources>div {
    float: left;
    font-size: 18pt;
    width: 33%;
}

#numeric-resources>div>div {
    float: left;
    margin-right: 10%;
    font-weight: bold;
    color: #014682;
}

#fabrics {
    width: 100%;
    height: 40%;
    margin-top: 15%;
}

.fabric {
    height: 100%;
    width: 15%;
    background-color: red;
    display: inline-block;
    font-size: 26pt;
    text-align: center;
}

.fabric-counter {
    width: 70%;
    height: 30%;
    background-color: white;
    border: 1px solid black;
    margin-left: 15%;
    margin-top: 10%;
    font-size: 10pt;
    text-align: center;
}

#new-fabric {
    width: 15%;
    height: 40%;
    position: relative;
    background-color: green;
    top: -40%;
    left: 81%;
}